function Sys.min 0
push argument 0
push argument 1
lt  

if-goto MIN_CASE_A
goto MIN_CASE_B

label MIN_CASE_A
push argument 0    
return 

label MIN_CASE_B
push argument 1   
return

function Sys.max 0
push argument 0
push argument 1
gt

if-goto MAX_CASE_A
goto MAX_CASE_B

label MAX_CASE_A
push argument 0
return

label MAX_CASE_B
push argument 1
return

function Sys.range 2
push argument 1
push constant 1
lt
if-goto RANGE_RETURN_ZERO

push argument 0
pop pointer 1

push that 0
pop local 2
push that 0
pop local 3

push constant 1
pop local 4

goto FIND_MIN

label FIND_MIN
push local 4
push argument 1
eq
if-goto FIND_MAX

push local 2
push that 0
call Sys.min 2
pop local 2

push pointer 1
push constant 1
add
pop pointer 1

push local 4
push constant 1
add
pop local 4

goto FIND_MIN

label FIND_MAX
push argument 0
pop pointer 1
push constant 1
pop local 4

goto MAX_LOOP

label MAX_LOOP
push local 4
push argument 1
eq
if-goto COMPUTE_RANGE

push local 3
push that 0
call Sys.max 2
pop local 3

push pointer 1
push constant 1
add
pop pointer 1

push local 4
push constant 1
add
pop local 4

goto MAX_LOOP

label COMPUTE_RANGE
push local 3
push local 2
sub
return

label RANGE_RETURN_ZERO
push constant 0
return
